{% extends 'base.html' %}

{% block body %}

    <!-- Home About Section Begin -->
    <section class="about-section spad mt-5">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="ha-pic">
                        <img src="{{ url_for('static', filename='new_img/einstein-645461_1920.jpg') }}" alt="">
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="ha-text">
                        <h2>Why contests?</h2>
                        <p>
                            Learning through contests is a very effective and funny way of learning.
                            I experienced that in the field of computer science, where you can find a ton of coding competitions.
                            This site does actually the same for physics.
                            The problems you will encounter here do not focus on querying your knowledge, but rather challenge your problem solving skills.
                        </p>
                        <ul>
                            <li><span class="icon_check"></span> Improve your problem solving skills</li>
                            <li><span class="icon_check"></span> Improve your physics skills</li>
                            <li><span class="icon_check"></span> Have fun competing with others</li>
                            <li><span class="icon_check"></span> Win competitions and increase your rating!</li>
                        </ul>
                        <a href="#" class="ha-btn">Let's start</a>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="ha-text">
                    <h2>Rules</h2>
                    <ul>
                        <li><span class="icon_check"></span> Normally, you should only participate on your own, but since this is kind of a demo-test-version, teamwork is ok.</li>
                        <li><span class="icon_check"></span> Please do not hack the website or the server, I know that it is not secure yet.</li>
                        <li><span class="icon_check"></span> Do not publish results until the end of the contest.</li>
                        <li><span class="icon_check"></span> You will need to enter a number as an answer for each task. Your answer will be judged as correct if the relative error is less or equal to one hundredth. (Make sure to write decimal numbers with a dot, not a comma)</li>
                        <li><span class="icon_check"></span> You are allowed to look up some mathematical definitions and physical constants (eg. on the Internet)</li>
                        <li><span class="icon_check"></span> Please do not brute-force the solution, do not solve equations numerically (except if it is explicitly said in the statement), and do not look up similar problems.</li>
                    </ul>
                    <p>Have much fun and good luck!</p>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 info">
                    <div class="section-title">
                        <h2>Further information</h2>
                        <p>View the project on <a href="https://github.com/SimonSkade/physicscontests">github</a>! Feel free to contribute and send a push request.</p>
                        <!--<p>Contact: <a href="mailto:sim.ska@gmx.de">sim.ska@gmx.de</a></p>-->
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Home About Section End -->
{% endblock %}
