<!DOCTYPE html>
<html lang="zxx">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="Manup Template">
    <meta name="keywords" content="Manup, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Physicscontests</title>

    <!-- favicon -->
    <link rel="icon" href="{{ url_for('static', filename='new_img/favicon1.png') }}">

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css?family=Work+Sans:400,500,600,700,800,900&display=swap"
        rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap" rel="stylesheet">


    <!-- Css Styles -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}" type="text/css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/font-awesome.min.css') }}" type="text/css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/elegant-icons.css') }}" type="text/css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/owl.carousel.min.css') }}" type="text/css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/magnific-popup.css') }}" type="text/css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/slicknav.min.css') }}" type="text/css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" type="text/css">
</head>

<body>
    <!-- Page Preloder -->
    <div id="preloder">
        <div class="loader"></div>
    </div>

    <!-- Header Section Begin -->
    <header class="header-section bg-gradient">
        <div class="container">
            <div class="logo">
                <a href="{{ url_for('home') }}">
                    <img src="{{ url_for('static', filename='new_img/logo1.png') }}" alt="">
                </a>
            </div>
            <div class="nav-menu">
                <nav class="mainmenu mobile-menu">
                    <ul>
                        <li class="active"><a href="{{ url_for('home') }}">Home</a></li>
                        <li><a href="{{ url_for('about') }}">About</a></li>
                        <li><a href="{{ url_for('upcoming_contests') }}">Upcoming Contests</a></li>
                        <li><a href="{{ url_for('practice') }}">Practice</a>
                            <ul class="dropdown">
                                <li><a href="{{ url_for('past_contests') }}">Past Contests</a></li>
                                <li><a href="{{ url_for('exercises') }}">Exercises</a></li>
                            </ul>
                        </li>
                        {% if current_user.is_authenticated %}
                            <li><a href="{{ url_for('contribute') }}">Contribute</a>
                                <ul class="dropdown">
                                    <li><a href="{{ url_for('create_task') }}">Create Task</a></li>
                                    <li><a href="{{ url_for('create_contest') }}">Create Contest</a></li>
                                </ul>
                            </li>
                            <li><a href="{{ url_for('account') }}">Account</a></li>
                            <li><a href="{{ url_for('logout') }}">Log out</a></li>
                        {% else %}
                            <li><a href="{{ url_for('contribute') }}">Contribute</a></li>
                            <li><a href="{{ url_for('login') }}">Log In</a></li>
                            <li><a href="{{ url_for('register') }}">Register</a></li>
                        {% endif %}
                    </ul>
                </nav>
            </div>
            <!--<div id="mobile-menu-wrap"></div>-->
        </div>
    </header>
    <!-- Header End -->
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
                <script type="text/javascript">
                    alert('{{ message }}');
                </script>
            {% endfor %}
        {% endif %}
    {% endwith %}

    {% with announcements = get_important_announcements() %}
        {% if announcements %}
            {% for message in announcements %}
                <script type="text/javascript">
                    alert('{{ message }}');
                </script>
            {% endfor %}
        {% endif %}
    {% endwith %}
    <!--<header class="header-section bg-gradient">
        <div class="container">
                <div class="row center-form"><p>Join running contest: <a href="{{ url_for('view_contest', contestID=1) }}">Hier gehts zum Contest</a></p></div>
        </div>
    </header>-->
    <header class="header-section bg-gradient">
        <div class="container">
                <div class="row center-form"><p>Contest #1 is over -  <a href="{{ url_for('contest_scoreboard', contestID=1) }}">See results</a></p></div>
        </div>
    </header>

    <!--{% with running_cs = get_running_contests() %}
        {% if running_cs %}
            <header class="header-section bg-gradient">
                <div class="container">
                    {% for contest in running_cs %}
                        <div class="row center-form"><p>Join running contest: <a href="{{ url_for('view_contest', contestID=contest.id) }}">{{ contest.name }}</a></p></div>
                    {% endfor %}                    
                </div>
            </header>
        {% endif %}
    {% endwith %}

    {% with finished_cs = get_finished_contests() %}
        {% if finished_cs %}
            <header class="header-section bg-gradient">
                <div class="container">
                    {% for contest in finished_cs %}
                        <div class="row center-form"><p>View results of finished contest: <a href="{{ url_for('contest_scoreboard', contestID=contest.id) }}">{{ contest.name }}</a></p></div>
                    {% endfor %}                    
                </div>
            </header>
        {% endif %}
    {% endwith %}-->

    {% block body %}{% endblock %}

    <!-- Footer Section Begin -->
    <footer class="footer-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="footer-text">
                        <div class="ft-logo">
                            <a href="#" class="footer-logo"><img src="{{ url_for('static', filename='new_img/logo1.png') }}" alt=""></a>
                        </div>
                        <ul>
                            <li><a href="{{ url_for('home') }}">Home</a></li>
                            <li><a href="{{ url_for('about') }}">About</a></li>
                            <li><a href="{{ url_for('upcoming_contests') }}">Upcoming Contests</a></li>
                            <li><a href="{{ url_for('practice') }}">Practice</a></li>
                            <li><a href="{{ url_for('contribute') }}">Contribute</a></li>
                        </ul>
                        <div class="copyright-text"><p><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
  Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
  <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p></div>
                        <!--<div class="ft-social">
                            <a href="#"><i class="fa fa-facebook"></i></a>
                            <a href="#"><i class="fa fa-twitter"></i></a>
                            <a href="#"><i class="fa fa-linkedin"></i></a>
                            <a href="#"><i class="fa fa-instagram"></i></a>
                            <a href="#"><i class="fa fa-youtube-play"></i></a>
                        </div>-->
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- Footer Section End -->

    <!-- Js Plugins -->
    <script src="{{ url_for('static', filename='js/jquery-3.3.1.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/jquery.magnific-popup.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/jquery.countdown.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/jquery.slicknav.js') }}"></script>
    <script src="{{ url_for('static', filename='js/owl.carousel.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
</body>

</html>