{% extends 'base.html' %}

{% block body %}
<div class="container mt-5 mb-5">
	<div class="col-lg-8 center-form">
		<h3><b>Create Tasks or contests</b></h3>
		<p><a href="{{ url_for('create_task') }}">Click here</a> to create a new task.<br>
		<a href="{{ url_for('create_contest') }}">Click here</a> to create a new contest.</p>
        <h3><b>Further information</b></h3>
        <p>View the project on <a href="https://github.com/SimonSkade/physicscontests">github</a>! Feel free to contribute and send a push request.</p>
        <p>Contact: <a href="mailto:sorry_not_setup_yet">insert email address later!</a></p>
	</div>
</div>
{% endblock %}
