{% extends 'base.html' %}

{% block body %}
<div class="container mt-5 mb-5">
	<div class="col-lg-6 center-form">
		<form method="POST" action="">
			{{ form.hidden_tag() }}
			<fieldset class="form-group">
				<legend class="border-bottom mb-4">Create Contest</legend>
				<div class="mb-3">
					{{ form.name.label(class="form-control-label") }}
					{% if form.name.errors %}
						{{ form.name(class="form-control form-control-lg is-invalid") }}
						<div class="invalid-feedback">
							{% for error in form.name.errors %}
								<span>{{ error }}</span>
							{% endfor %}
						</div>
					{% else %}
						{{ form.name(class="form-control form-control-lg") }}
					{% endif %}
				</div>
				<div class="mb-3">
					{{ form.description.label(class="form-control-label") }}
					{% if form.description.errors %}
						{{ form.description(class="form-control form-control-lg is-invalid") }}
						<div class="invalid-feedback">
							{% for error in form.description.errors %}
								<span>{{ error }}</span>
							{% endfor %}
						</div>
					{% else %}
						{{ form.description(class="form-control form-control-lg") }}
					{% endif %}
				</div>
				<div class="mb-3">
					{{ form.start.label(class="form-control-label") }}
					{% if form.start.errors %}
						{{ form.start(class="form-control form-control-lg is-invalid") }}
						<div class="invalid-feedback">
							{% for error in form.start.errors %}
								<span>{{ error }}</span>
							{% endfor %}
						</div>
					{% else %}
						{{ form.start(class="form-control form-control-lg") }}
					{% endif %}
				</div>
				<div class="mb-3">
					{{ form.end.label(class="form-control-label") }}
					{% if form.end.errors %}
						{{ form.end(class="form-control form-control-lg is-invalid") }}
						<div class="invalid-feedback">
							{% for error in form.end.errors %}
								<span>{{ error }}</span>
							{% endfor %}
						</div>
					{% else %}
						{{ form.end(class="form-control form-control-lg") }}
					{% endif %}
				</div>
				<div class="mb-3">
					{{ form.tasks.label(class="form-control-label") }}
					{% if form.tasks.errors %}
						{{ form.tasks(class="form-control form-control-lg is-invalid") }}
						<div class="invalid-feedback">
							{% for error in form.tasks.errors %}
								<span>{{ error }}</span>
							{% endfor %}
						</div>
					{% else %}
						{{ form.tasks(class="form-control form-control-lg") }}
					{% endif %}
				</div>
			</fieldset>
			<div class="form-group">
				{{ form.submit(class="btn btn-outline-info") }}
			</div>
			<div>
				{{ form.user_tasks }}
			</div>
			<div>
				{{ form.user_tasks.data }}
			</div>
		</form>
	</div>
</div>
{% endblock %}
