{% extends 'base.html' %}

{% block body %}
<div class="container mt-5 mb-5">
	<div class="col-lg-10 center-form">
		<h2 class="mb-4">Past Contests</h2>
		<table class="table">
			<tr>
				<th scope="col">Id</th>
				<th scope="col">Name</th>
			</tr>
			{% for contest in contests %}
				<tr>
					<td><a href="/contests/{{ contest.id }}">{{ contest.id }}</a></td>
					<td><a href="/contests/{{ contest.id }}">{{ contest.name }}</a></td>
				</tr>
			{% endfor %}
		</table>
	</div>
</div>
{% endblock %}
