{% extends 'base.html' %}

{% block body %}
<div class="container mt-5 mb-5">
	<div class="col-lg-10 center-form">
		<table class="table">
			<tr>
				<th scope="col">Id</th>
				<th scope="col">Name</th>
				<th scope="col">Difficulty</th>
			</tr>
			{% for contest in contests %}
				<tr>
					<td><a href="{{ url_for('exercises') }}/{{ task.id }}">{{ contest.id }}</a></td>
					<td><a href="{{ url_for('exercises') }}/{{ task.id }}">{{ contest.title }}</a></td>
				</tr>
			{% endfor %}
		</table>
	</div>
</div>
{% endblock %}
