{% extends 'base.html' %}

{% block body %}
<div class="container mt-5 mb-5">
	<div class="col-lg-10 center-form">
		<table class="table">
			<tr>
				<th scope="col">Id</th>
				<th scope="col">Name</th>
				<th scope="col">Start</th>
				<th scope="col">End</th>
			</tr>
			{% for contest in contests %}
				<tr>
					<td>{{ contest.id }}</td>
					<td>{{ contest.name }}</td>
					<td>{{ contest.start }}</td>
					<td>{{ contest.end }}</td>
				</tr>
			{% endfor %}
		</table>
	</div>
</div>
{% endblock %}
