{% extends 'base.html' %}

{% block body %}
<div class="container mt-5 mb-5">
	<div class="col-lg-10 center-form">
		<h2 class="mb-4">Upcoming Contests</h2>
		<table class="table">
			<tr>
				<th scope="col">Id</th>
				<th scope="col">Name</th>
				<th scope="col">Start</th>
				<th scope="col">End</th>
				<th scope="col">Register</th>
			</tr>
			{% for contest in contests %}
				<tr>
					<td><a href="url_for('view_contest', contestID=contest.id) }}">{{ contest.id }}</a></td>
					<td><a href="url_for('view_contest', contestID=contest.id) }}">{{ contest.name }}</a></td>
					<td>{{ contest.start }}</td>
					<td>{{ contest.end }}</td>
					{% if current_user.is_authenticated and current_user in contest.participants %}
						<td style="color:green">Registered</td>
					{% else %}
						<td><a href="{{ url_for('register_contest', contestID=contest.id) }}">Register</a></td>
					{% endif %}
				</tr>
			{% endfor %}
		</table>
	</div>
	<!--<div class="col-lg-10 center-form">
		<p>Make sure to reload the page when a contest starts!</p>
	</div>-->
</div>
{% endblock %}
