{% extends 'base.html' %}

{% block body %}
<div class="container mt-5 mb-5">
	<div class="col-lg-10 center-form">
		<h2 class="mb-4">{{ contest.name }}</h2>
		<h3 class="mb-4">Problems</h3>
		<table class="table mb-4">
			<tr>
				<th scope="col">Id</th>
				<th scope="col">Name</th>
				<th scope="col">Difficulty</th>
			</tr>
			{% for task in contest.tasks %}
				<tr>
					<td><a href="{{ url_for('exercises') }}/{{ task.id }}">{{ task.id }}</a></td>
					<td><a href="{{ url_for('exercises') }}/{{ task.id }}">{{ task.title }}</a></td>
					<td>{{ task.difficulty }}</td>
				</tr>
			{% endfor %}
		</table>
		<div>After one day after the end of the contest, you can find the solutions here: <a href="https://drive.google.com/drive/folders/1tjkZkgJCgY_ttnxcxglH2GyXKpj_NcT7">https://drive.google.com/drive/folders/1tjkZkgJCgY_ttnxcxglH2GyXKpj_NcT7</a></div>
		<div class="mt-4">
			Unfortunately, the server refreshes the file system regularly, so the images in the tasks disappear regularly. I am trying to fix that.
			If the images are not available right now, you can see them here: <a href="https://drive.google.com/drive/folders/1mbpUzNze_ts1BBuaP_7YWR3FtztyB9k7?usp=sharing">https://drive.google.com/drive/folders/1mbpUzNze_ts1BBuaP_7YWR3FtztyB9k7?usp=sharing</a>

	</div>
</div>
{% endblock %}
