{% extends 'base.html' %}

{% block body %}
<div class="container mt-5 mb-5">
	<div class="col-lg-10 center-form">
		<h2 class="mb-4">{{ contest.name }}</h2>
		<h3 class="mb-4">Problems</h3>
		<table class="table">
			<tr>
				<th scope="col">Id</th>
				<th scope="col">Name</th>
				<th scope="col">Difficulty</th>
			</tr>
			{% for task in contest.tasks %}
				{% if task.visible %}
					<tr>
						<td><a href="{{ url_for('exercises') }}/{{ task.id }}">{{ task.id }}</a></td>
						<td><a href="{{ url_for('exercises') }}/{{ task.id }}">{{ task.title }}</a></td>
						<td>{{ task.difficulty }}</td>
					</tr>
				{% endif %}
			{% endfor %}
		</table>
	</div>
</div>
{% endblock %}
