{% extends 'base.html' %}

{% block body %}
<div class="container mt-5 mb-5">
	<div class="col-lg-8 center-form">
		<form method="POST" action="">
			{{ form.hidden_tag() }}
			<h2 class="text-center mb-2">{{ task.title }}</h2>
			<p class="text-center mb-4">Difficulty: {{ task.difficulty }}</p>
			<p>{{ task.story }}</p>
			{% if image_file: %}
				<img class="text-center" src="{{ image_file }}">
			{% endif %}
			<p>{{ task.task }}</p>
			<div class="mb-3">
			{{ form.answer.label(class="form-control-label") }}
			{% if form.answer.errors %}
				{{ form.answer(class="form-control form-control-lg is-invalid") }}
				<div class="emailinvalid-feedback">
					{% for error in form.answer.errors %}
						<span>{{ error }}</span>
					{% endfor %}
				</div>
			{% elif form.answer.data and (form.answer.data-task.solution)|abs / task.solution|abs <= 0.01 %}
				{{ form.answer(class="form-control form-control-lg") }}
				<div>
					<span style="color:green">Correct</span>
				</div>
			{% elif form.answer.data and form.answer.data == 42 %}
				{{ form.answer(class="form-control form-control-lg") }}
				<div>
					<span style="color:orange">Funny, but this won't be judged as correct!</span>
				</div>
			{% elif form.answer.data %}
				{{ form.answer(class="form-control form-control-lg") }}
				<div>
					<span style="color:red">Wrong answer. Try again.</span>
				</div>
			{% else %}
				{{ form.answer(class="form-control form-control-lg") }}
			{% endif %}
			</div>
			<div class="form-group mb-3">
				{{ form.submit(class="btn btn-outline-info") }}
			</div>
			<div class="border-top mt-3 pt-2 pb-4">
				<p class="text-muted text-center">
					Problem created by {{ task.author.username }}
				</p>
			</div>
			{% if is_author %}
				<div>
					<a href="{{ url_for('modify_task', taskID=task.id) }}">Modify Task</a>
				</div>
			{% endif %}
		</form>
	</div>
	<div class="mt-4">
		Unfortunately, the server refreshes the file system regularly, so the images in the tasks disappear regularly. I am trying to fix that.
		If the images are not available right now, you can see them here: https://drive.google.com/drive/folders/1mbpUzNze_ts1BBuaP_7YWR3FtztyB9k7?usp=sharing
	</div>
</div>
{% endblock %}
